@font-face {
    font-family: 'Milestone Brush';
    src: url('../fonts/MilestoneBrush.otf') format('opentype'),
         url('../fonts/MilestoneBrush.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  